.profile {
    .user-profile {
        background-color: #fff;
        border-radius: 10px;
        color: #000;
        text-align: center;
        min-height: 60vh;
        padding: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            padding: 0;
            min-width: 150px;
            min-height: 180px;
            width: 12vw;
            height: 15vw;
            border-radius: 10px;
            background-color: #adadad;
            margin: 15px 15px;
        }

        /* edit profile */
        .edit-profile {
            margin: 20px 0;
            width: 90%;
            display: flex;
            justify-content: space-around;

            .form-ava {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .form-control {
                    display: none;
                }
            }

            .form {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 15px;

                .form-control {
                    margin-left: 20px;
                    width: 14vw;
                    min-width: 170px;
                }
            }
        }

        /* user info */
        .user-info {
            width: 80%;
            text-align: left;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
    
            .info {
                display: flex;
                justify-content: space-around;
            }
        }

        .btn-edit{
            text-align: center;
            margin: 20px 0;
            
            button {
                padding: 1vh 2vw;
                border: 0;
                border-radius: 3vw;
                font-weight: 700;
                color: #fff;
                background: linear-gradient(to left, #ff626d, #fcad72);
                box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
            }
        }
    }

    /* button */
    .user-profile .btn-update {
        padding: 1vh 2vw;
        border: 0;
        border-radius: 3vw;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(to left, #ff626d, #fcad72);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    }

    .user-profile .btn-cancel {
        padding: 1vh 2vw;
        border: 0;
        border-radius: 3vw;
        font-weight: 700;
        color: #ff626d;
        border: 2px solid #fcad72;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        margin-left: 20px;
    }
}