.product-advantage{
    display: flex;
    flex-direction: column;
    background: #6B6B6B;
    padding: 5vw 30px 0;
    position: relative;
    overflow: visible;

    .advantage-index{
        color: #AEAEAE;
        font-size: 2vw;
        font-weight: 800;
    }
    
    .advantage-name{
        color: #fff;
        font-size: 2vw;
        font-weight: 800;
    }

    .advantage-desc{
        font-family: Inter;
        font-size: 1vw;
        font-weight: 400;
    }

    .ml{
        margin-left: 20px;
    }

    img{
        z-index: 1000;
    }
}

@media (max-width: 767px){
    .product-advantage{
        .advantage-index{
            font-size: 5vw;
        }
        .advantage-name{
            font-size: 5vw;
        }
        .advantage-desc{
            font-size: 3.5vw;
        }
    }
}