.tag-new{
    width: fit-content; 
    padding: 5px 15px;
    border-radius: 20px;
    background: linear-gradient(289deg, #FF6262 -45.24%, #FCAD72 87.23%);

    span{
        font-size: 2vw;
    }
}
