.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-circle{
    border-radius: 50%;
    border: none;
    outline: none;
}

.promotion-tag{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #FCAB73 38.5%, #FF646B 100%);
    
    span:first-child{
        font-size: 1vw;
        font-weight: 400;
    }
    
    span:nth-child(2){
        font-size: 3vw;
        font-weight: 700;
        color: #000000;
    }
    
    span:nth-child(3){
        font-size: 2vw;
        font-weight: 700;
    }
}

@media (max-width: 576px){
    .promotion-tag{
        span:first-child{
            font-size: 3vw;
        }
        
        span:nth-child(2){
            font-size: 5vw;
        }
        
        span:nth-child(3){
            font-size: 4vw;
        }
    }    
}