.overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 1000;
    .forgotPassword-block{
        position: relative;
        border-radius: 50px;
        z-index: -1;
        padding: 30px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            background: #fff;
            border-radius: inherit;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity: .08;
            background-image: radial-gradient(#ffffff40, #fff0 40%), radial-gradient(hsl(44, 100%, 66%) 30%, hsl(338, 68%, 65%), hsla(338, 68%, 65%, .4) 41%, transparent 52%), radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%), linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%), linear-gradient(45deg, #0065e0, #0f8bff);
            background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
            background-position: bottom left, 109% 68%, 109% 68%, center, center;
            border-radius: inherit;
        }
        .forgotPassword-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
            .close{
                color: black;
                font-size: 30px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                user-select: none;
            }
            .logo{
                margin: 0 auto;
                width: 7vw;
                min-width: 100px;
                
                object-fit: cover;
            }
            .heading{
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 1.4;
                color: black;
            }
            form{
                display: flex;
                flex-direction: column;
                label{
                    display: block;
                    text-align: left;
                    color: black;
                }

                input{
                    width: 30vw;
                    min-width: 200px;
                    margin-top: 5px;
                    padding: 10px 15px;
                    border: 1px solid black;
                    border-radius: 15px;
                    outline: none;
                }

                .username{
                    
                }

                .password{
                    margin-top: 20px;
                }

                .btn-submit{
                    width: 100px;
                    padding: 10px 10px;
                    margin: 20px auto 0;
                    border-radius: 30px;
                    background: linear-gradient(90deg, #FF6263 0%, #FCAD72 100%);
                    color: #fff;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                }

                span{
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 992px){
    .overlay{
        .login-block{
            .login-content{
                width: 50vw;
                form{
                    input{
                        width: 40vw;
                    }
                    .btn-create, .btn-login-google{
                        width: 35vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .overlay{
        .login-block{
            .login-content{
                width: 60vw;
                form{
                    input{
                        width: 50vw;
                    }
                    .btn-create, .btn-login-google{
                        width: 45vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px){
    .overlay{
        .login-block{
            .login-content{
                width: 70vw;
                form{
                    input{
                        width: 60vw;
                    }
                    .btn-create, .btn-login-google{
                        font-size: 0.8rem;
                        min-width: 200px;
                    }
                }
            }
        }
    }
}





    


