.main-container {
    padding: 0;
    margin: 0;
    background-color: #333;
    color: #fff;
  }
  
  .detail-product {
    margin: 0;
    padding: 0;
    height: 701px;
    width: 100%;
    background: linear-gradient(to right, #ff626d, #fcad72);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .vector-img {
      position: absolute;
      padding: 0;
      width: 100%;
      top: 100%;
      transform: translateY(-100%);
      filter: drop-shadow(0px 0px 15px rgba(51, 51, 51, 0.5));
      z-index: 0;
    }
  
    .img-background {
      width: 537px;
      height: 537px;
      background-color: #333;
      border-radius: 50%;
      z-index: 1;
      position: relative;
  
      .shoe-img {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -25%);
      }
  
      .color-selection {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        display: flex;
  
        .color {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #fff;
          margin: 0 3px;
        }
      }
    }
  
    .ava-shoe-selection {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
  
      .ava-shoe {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #333;
        margin: 8px 10px 0;
        overflow: hidden;
  
        img {
          width: 100%;
        }
      }
    }
  }
  
  .detail-style {
    position: relative;
    z-index: 1;
    margin-left: 100px;
  
    h2 {
      font-size: 48px;
    }
  
    h3 {
      font-size: 46px;
      margin-bottom: 10px;
    }
  
    h4 {
      font-size: 30px;
    }
  
    .select-size {
      font-size: 15px;
      color: #fff;
      display: inline-block;
      gap: 10px;
      margin: 10px 0;
      text-align: center;
  
      .select-button {
        width: 350px;
        margin-bottom: 15px;
        display: flex;
        align-content: center;
        justify-content: flex-start;
  
        button {
          background-color: #fff;
          padding: 0 10px;
          color: #333;
          height: 30px;
          line-height: 30px;
          border-radius: 5px;
          margin: 0 30px;
          border: 0;
        }
      }
  
      .size-box {
        width: 350px;
  
        .size {
          display: inline-block;
          height: 40px;
          width: 40px;
          line-height: 40px;
          background-color: #333;
          border-radius: 4px;
          margin: 8px 12px;
        }
      }
    }
  
    .add-cart {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      justify-content: flex-start;
  
      .add {
        padding: 20px 40px;
        background-color: #333;
        color: #fff;
        border-radius: 60px;
        font-size: 16px;
        text-transform: uppercase;
        border: 0;
      }
  
      .heart {
        font-size: 24px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        color: #333;
        background-color: #fff;
        margin-left: 60px;
      }
    }
  }
  
  /* Description */
  .description {
    background-color: #1E1E1E;
    height: 300px;
    padding-bottom: 500px;
  
    h1 {
      font-size: 70px;
      margin: 20px 19% 46px;
    }
  
    .nav-tabs {
      text-decoration: none;
      border: 0;
  
      .nav-item {
        display: inline-block;
        text-decoration: none;
        margin: 0 18px;
      }
  
      .content {
        h2 {
          margin-top: 50px;
          font-size: 16px;
          text-transform: uppercase;
        }
  
        p {
          width: 600px;
          margin-top: 38px;
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
  
    .characterist {
      h3 {
        font-size: 16px;
        text-transform: uppercase;
      }
  
      h4 {
        font-size: 15px;
        margin-top: 20px;
      }
  
      span {
        color: #736f6f;
      }
    }
  }
  