.home-popular-product{
    background: linear-gradient(77.7deg, #FF6262 23.42%, #FCAD72 89.44%); /* Màu nền gradient từ đỏ cam đến vàng */
    display: flex; /* Sử dụng Flexbox để căn chỉnh các phần tử bên trong */
    justify-content: space-between; /* Giãn cách các phần tử ngang */
    width: 50vw; /* Chiều rộng 50% của viewport */
    height: 35vw; /* Chiều cao 35% của viewport */
    padding: 10px 10px 0; /* Padding cho phần tử */
    position: relative; /* Đặt phần tử ở vị trí tương đối để sử dụng với các phần tử con tuyệt đối */

    .info{
        display: flex;
        flex-direction: column; /* Sắp xếp các phần tử trong .info theo chiều dọc */

        .info-title{
            font-size: 2vw; /* Kích thước font chữ */
            font-weight: 400; /* Độ đậm của chữ */
            color: #fff; /* Màu chữ trắng */
        }

        span:nth-child(3){
            color: #232227; /* Màu chữ cho phần tử thứ 3 */
        }

        button{
            font-size: 1vw; /* Kích thước font chữ cho nút */
            color: #fff; /* Màu chữ của nút */
            background: #333235; /* Màu nền nút */
            padding: 10px 35px; /* Padding cho nút */
            border-radius: 30px; /* Bo góc cho nút */
            margin-top: 20px; /* Khoảng cách trên của nút */
            cursor: pointer; /* Hiển thị con trỏ chuột dạng con trỏ */
            z-index: 3; /* Đảm bảo nút nằm trên các phần tử khác */
            position: relative; /* Đặt vị trí nút tương đối */
            transition: all 2s; /* Thêm hiệu ứng chuyển động */
            &:hover{
                transform: translateY(-3px); /* Di chuyển nút lên khi hover */
                box-shadow: 0 5px 20px rgba(0, 0, 0, .2); /* Thêm bóng đổ khi hover */
            }
            &:active{
                outline: none; /* Loại bỏ viền khi nút được nhấn */
                transform: translateY(-1px); /* Di chuyển nút một chút khi nhấn */
                box-shadow: 0 5px 10px rgba(0, 0, 0, .2); /* Bóng đổ khi nhấn */
            }
            &::after{
                content: ""; /* Thêm phần tử giả */
                display: inline-block;
                height: 100%; /* Chiều cao bằng với nút */
                width: 100%; /* Chiều rộng bằng với nút */
                position: absolute; /* Đặt phần tử ở vị trí tuyệt đối */
                top: 0;
                left: 0;
                background: #333235; /* Màu nền của phần tử giả */
                border-radius: 30px; /* Bo góc cho phần tử giả */
                z-index: -1; /* Đặt phần tử giả xuống dưới */
                transition: all .4s; /* Thêm hiệu ứng chuyển động */
            }
            &:hover::after{
                transform: scaleX(1.3) scaleY(1.3); /* Phóng to phần tử giả khi hover */
                opacity: 0; /* Làm mờ phần tử giả khi hover */
            }
        }
    }
    
    .title{
        font-size: 10vw; /* Kích thước chữ của tiêu đề */
        font-weight: 400; /* Độ đậm của tiêu đề */
        color: #00000026; /* Màu tiêu đề nhạt */
        margin-top: 1vw; /* Khoảng cách trên của tiêu đề */
    }

    .product-popular-wrapper{
        position: absolute;
        top: 10%; /* Đặt phần tử cách từ trên 10% */
        left: 50%; /* Căn giữa theo chiều ngang */
        transform: translateX(-50%); /* Căn giữa chính xác theo chiều ngang */
        z-index: 2; /* Đặt độ ưu tiên cho phần tử */
        
        .product-img{
            width: 40vw; /* Chiều rộng hình ảnh bằng 40% viewport */
        }

        .line-decor-1{
            position: absolute;
            width: 30vw; /* Chiều rộng đường trang trí */
            top: 10%;
            left: 50%;
            transform: translateX(-50%); /* Căn giữa đường trang trí */
            z-index: 3; /* Đặt độ ưu tiên cho đường trang trí */
        }

        .promotion-block{
            position: absolute;
            bottom: 10%; /* Đặt khối khuyến mãi cách dưới 10% */
            right: -5%; /* Đặt khối khuyến mãi lệch sang phải */
            width: 10vw; /* Chiều rộng khối khuyến mãi */
            height: 10vw; /* Chiều cao khối khuyến mãi */
        }

        .product-info{
            position: absolute;
            right: -8%; /* Đặt thông tin sản phẩm lệch phải */
            font-weight: 800; /* Độ đậm của chữ */
            font-size: 2vw; /* Kích thước chữ */
            
            .product-brand{
                display: block;
                color: #000; /* Màu thương hiệu */
            }

            .product-name{
                color: #FFF; /* Màu tên sản phẩm */
                margin-top: -20px; /* Khoảng cách trên của tên sản phẩm */
            }
        }
    }

    .line-decor-2{
        position: absolute;
        width: 100%; /* Chiều rộng đường trang trí */
        top: 40%; /* Đặt đường trang trí cách từ trên 40% */
        left: 0;
        z-index: 1; /* Đặt độ ưu tiên cho đường trang trí */
    }
}

.btn-block{
    width: 100%;
    display: flex; /* Sử dụng Flexbox để căn chỉnh các phần tử */
    margin-top: 10px; /* Khoảng cách trên của khối nút */
    justify-content: center; /* Căn giữa các nút */
    .btn-custom{
        font-size: 2vw; /* Kích thước chữ của nút */
        color: #fff; /* Màu chữ nút */
        background: linear-gradient(95.76deg, #FCAD72 18.26%, #FF6262 81.74%); /* Màu nền gradient cho nút */
        box-shadow: 0px 4px 4px 0px #00000040; /* Thêm bóng đổ cho nút */
        padding: 10px 35px; /* Padding cho nút */
        border-radius: 30px; /* Bo góc cho nút */
        position: relative;
        &:hover{
            transform: translateY(-3px); /* Di chuyển nút lên khi hover */
            box-shadow: 0 5px 20px rgba(0, 0, 0, .2); /* Thêm bóng đổ khi hover */
        }
        &:active{
            outline: none; /* Loại bỏ viền khi nút được nhấn */
            transform: translateY(-1px); /* Di chuyển nút khi nhấn */
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2); /* Bóng đổ khi nhấn */
        }
        &::after{
            content: ""; /* Thêm phần tử giả */
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(95.76deg, #FCAD72 18.26%, #FF6262 81.74%); /* Màu nền gradient cho phần tử giả */
            border-radius: 30px; /* Bo góc cho phần tử giả */
            z-index: -1; /* Đặt phần tử giả xuống dưới */
            transition: all .4s; /* Thêm hiệu ứng chuyển động */
        }
        &:active::after{
            transform: scaleX(1.3) scaleY(1.3); /* Phóng to phần tử giả khi nhấn */
            opacity: 0; /* Làm mờ phần tử giả khi nhấn */
        }
    }
}

@media (max-width: 768px){
    .home-popular-product{
        width: 70vw; /* Thay đổi chiều rộng khi màn hình nhỏ hơn 768px */
        height: 40vw; /* Thay đổi chiều cao khi màn hình nhỏ hơn 768px */
        .info{
            .info-title{
                font-size: 2.5vw; /* Thay đổi kích thước chữ của tiêu đề */
            }

            button{
                width: 22vw; /* Thay đổi chiều rộng của nút */
                font-size: 1.5vw; /* Thay đổi kích thước chữ của nút */
                margin-top: 0; /* Loại bỏ khoảng cách trên của nút */
            }
        }

        .title{
            font-size: 15vw; /* Thay đổi kích thước chữ của tiêu đề */
        }

        .product-popular-wrapper{
            top: 0; /* Đặt phần tử product-popular-wrapper lên trên cùng */
            .product-img{
                width: 60vw; /* Thay đổi kích thước hình ảnh */
            }

            .line-decor-1{
                width: 40vw; /* Thay đổi chiều rộng đường trang trí */
            }
            .product-info{
                right: -4%; /* Điều chỉnh vị trí thông tin sản phẩm */
            }
        }
    }
}

@media (max-width: 576px){
    .home-popular-product{
        width: 90vw; /* Thay đổi chiều rộng khi màn hình nhỏ hơn 576px */
        height: 50vw; /* Thay đổi chiều cao khi màn hình nhỏ hơn 576px */
        .title{
            margin-top: 0; /* Loại bỏ khoảng cách trên của tiêu đề */
        }

        .product-popular-wrapper{
            top: -10%; /* Điều chỉnh vị trí phần tử */
            left: 45%; /* Căn giữa phần tử */
            .product-img{
                width: 80vw; /* Thay đổi kích thước hình ảnh */
            }
            .promotion-block{
                width: 20vw; /* Thay đổi kích thước khối khuyến mãi */
                height: 20vw; /* Thay đổi chiều cao khối khuyến mãi */
            }
            .line-decor-1{
                top: 25%; /* Điều chỉnh vị trí đường trang trí */
                width: 45vw; /* Thay đổi chiều rộng đường trang trí */
            }
            .product-info{
                font-size: 3vw; /* Thay đổi kích thước chữ thông tin sản phẩm */
            }
        }

        .line-decor-2{
            top: 0; /* Đặt đường trang trí ở vị trí trên cùng */
        }
    }

    .btn-block{
        .btn-custom{
            font-size: 3vw; /* Thay đổi kích thước chữ của nút */
        }
    }
}
