.user-review {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    
    .user-review-content {
        justify-content: space-around;
        margin: 20px 0;
        padding: 0 10px;
    
        .user-ava {
            div {
                width: 10vw;
                height: 10vw;
                min-width: 110px;
                min-height: 110px;
                overflow: hidden;
            }
            
            img {
                width: 100%;
            }
        }
    
        .review {
            .review-status {
                justify-content: space-between;
                align-items: center;
                
                .status {
                    font-size: 16px;
                    margin: 0;
                }
                
                .date {
                    font-size: 10px;
                    margin: 0;
                }
            }

            .comment {
                p {
                    font-size: 14px;
                    margin: 15px 0;
                }
            }

            .like {
                p {
                    font-size: 14px;
                    margin-top: 0;
                }
            }

            .seller-feedback {
                background-color: rgb(255,255,255,0.3);
                border-radius: 5px;
                
                p {
                    font-size: 12px;
                    /* margin-top: 0; */
                }
            }
        }
    }
}