/* Ordered */
.profile {
    .ordered {
        padding: 30px 0;
    }

    /* order */
    .ordered .order {
        background-color: #fff;
        border-radius: 10px;
        color: #000;
        text-align: center;
        padding: 20px 30px;
        margin: 20px 0;
    }

    /* order-status */
    .ordered .order-status {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid rgb(0, 0, 0, .5);
        padding-bottom: 10px;
    }

    .ordered .order-status h2 {
        font-size: 0.9rem;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    .ordered .order-status .status {
        color: #FF6263;
    }

    /* item */
    .ordered .item {
        display: flex;
        justify-content: flex-start;
        padding: 20px 0;
        border-bottom: 2px solid rgb(0, 0, 0, .5);
    }

    .ordered .item .image {
        width: 11vw;
        min-width: 100px;
        height: 14vh;
        display: flex;
        align-items: center;
        border-radius: 0.8vw;
    }
    
    .ordered .item img {
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .item-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item-info .info {
        text-align: left;
        margin-left: 10px;
        text-transform: uppercase;
    }

    .item-info .info h3 {
        font-size: 0.9rem;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    .item-info .info p {
        font-size: 0.7rem;
        margin: 0;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

    .item-info .item-price {
        font-size: 1.2rem;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    .item-info .btn-review {
        border: 0;
        background: linear-gradient(to left, #ff626d, #fcad72);
        padding: 6px 20px;
        border-radius: 20px;
        color: white;
    }

    .ordered .total {
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 30px;
        text-align: right;
    }

    .ordered .total span {
        font-size: 1.5rem;
        margin-left: 15px;
        font-weight: 7000;
        color: #FF6263;
    }

    .ordered .buy-back {
        display: flex;
        justify-content: right;
    }

    .ordered .buy-back .btn-buyBack {
        padding: 1vh 2vw;
        border: 0;
        border-radius: 3vw;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(to left, #ff626d, #fcad72);
        text-transform: uppercase;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    }
}

.content-profile-page{
    .review-dialog {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .review-dialog-content {
        width: 75vw;
        min-height: 430px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        justify-content: space-around;
        transform: translateY(10%);

        .review-post,
        .reviews-list {
            min-height: 50vh;
            max-height: 500px;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 30px;
            box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.7);
        }

        .reviews-list {
            overflow-y: auto;
            background: linear-gradient(to right, #ff626d, #fcad72);

            .review-item {
                color: #000;
                background-color: #f9f9f9;
                margin-bottom: 20px;
                padding: 10px;
                border-radius: 20px;
                position: relative;
                box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.7);

                p {
                    padding: 0;
                    margin: 6px 0;
                }

                .comment {
                    margin-left: 12px;
                }

                .star {
                    position: absolute;
                    right: 30px;
                    top: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        .review-post {
            background-color: #efefef;

            .image {
                img {
                    width: 100px;
                    height: 100px;
                    background-color: #333;
                    border-radius: 20px;
                    cursor: pointer;
                }

                input {
                    display: none;
                }
            }

            .star-rating {
                margin-bottom: 10px;
                
                .star {
                    color: #ccc; /* Màu sao chưa chọn */
                }
                
                .star.filled {
                    color: #ffcc00; /* Màu sao đã chọn */
                }
            }

            textarea {
                border-radius: 20px;
                padding: 10px;
                height: 35%;
            }
        }

        .control {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-weight: bold;

            .btn-submit-review,
            .btn-closes {
                height: 40px;
                border-radius: 15px;
                text-align: center;
                align-content: center;
                padding: 8px 20px 10px;
                margin: 0 15px;
                box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.7);
                cursor: pointer;
                transition: transform 0.2s ease-in-out;
            }

            .btn-submit-review:hover,
            .btn-closes:hover {
                transform: scale(1.2);
            }
            
            .btn-submit-review {
                background: linear-gradient(to left, #ff626d, #fcad72);
            }

            .btn-closes {
                background: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }
    
    .review-dialog-content label {
        display: block;
        margin: 5px 0;
        color: #000;
    }
    
    .review-dialog-content textarea {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
    }
}