@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

/*----------------------------------------*/
/*  Layout chung cho trang Admin
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  width: 100%;

  .admin-container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow: auto;

    .menuContainer {
      width: 250px;
      z-index: 100;
      padding: 5px 20px;
      border-right: 2px solid $soft-bg;

      @include lg {
        width: max-content;
      }

      @include sm {
        display: none;
      }
    }

    .contentContainer {
      padding: 5px 20px;
      width: 80%;
      overflow: hidden;
      max-width: 100%;
      box-sizing: border-box; // Đảm bảo padding không gây tràn
      @include sm {
        width: 100%;
        max-width: 100%;
        padding: 5px;
      }
    }
  }
  @include sm {
    width: 30px;
  }



}


//Đây là scss cho thanh scroll bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $main-color;
}

::-webkit-scrollbar-thumb {
  background: $soft-bg;
}

//Kết thúc scss cho thanh scroll bar