@import '../../../styles/variables.scss'; // Import các biến từ file variables.scss
@import '../../../styles/responsive.scss'; // Import các quy tắc responsive từ file responsive.scss

/*----------------------------------------*/
/*  Layout chung cho trang Admin          */
/*----------------------------------------*/
* {
  margin: 0; // Xóa margin mặc định của tất cả các phần tử
  padding: 0; // Xóa padding mặc định của tất cả các phần tử
  box-sizing: border-box; // Đảm bảo padding và border không làm thay đổi kích thước phần tử
}

html {
  overflow-x: hidden; // Ẩn thanh cuộn ngang trên toàn trang
}

a {
  text-decoration: none; // Xóa gạch chân mặc định của liên kết
  color: inherit; // Lấy màu chữ từ phần tử chứa
}

.admin-main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  width: 100%;
 

  .admin-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    overflow: auto;
    display: flex; // Dùng flexbox để layout các phần tử bên trong
    width: 100%; // Chiều rộng của container là 100%
    flex-grow: 1; // Phần tử này sẽ giãn ra chiếm không gian còn lại
    overflow: auto; // Hiển thị thanh cuộn khi cần thiết

    .menuContainer {
      width: 250px; // Độ rộng của menu cố định là 250px
      z-index: 100; // Đảm bảo menu luôn hiển thị trên các phần tử khác
      padding: 5px 20px; // Padding cho menu
      border-right: 2px solid $soft-bg; // Đường viền bên phải với màu mềm mại

      @include lg {
        width: max-content; // Ở kích thước màn hình lớn, menu sẽ tự động điều chỉnh theo nội dung
      }

      @include sm {
        display: none; // Ở kích thước màn hình nhỏ, ẩn menu
      }
    }

    .contentContainer {
      padding: 5px 20px; // Padding cho khu vực nội dung
      width: 80%; // Chiều rộng của khu vực nội dung là 80%
      overflow: hidden; // Ẩn các phần tử vượt quá chiều rộng
      max-width: 100%; // Chiều rộng tối đa là 100%
      box-sizing: border-box; // Đảm bảo padding không gây tràn

      @include sm {
        width: 100%; // Ở kích thước màn hình nhỏ, chiều rộng là 100%
        max-width: 100%; // Chiều rộng tối đa là 100%
        padding: 5px; // Giảm padding cho màn hình nhỏ
      }
    }
  }

  @include sm {
    width: 30px; // Ở kích thước màn hình nhỏ, chiều rộng của layout là 30px
  }
}

// Đoạn mã SCSS cho thanh cuộn (scrollbar)
::-webkit-scrollbar {
  width: 10px; // Đặt chiều rộng của thanh cuộn là 10px
}

::-webkit-scrollbar-track {
  background: $main-color; // Màu nền của thanh cuộn
}

::-webkit-scrollbar-thumb {
  background: $soft-bg; // Màu của thanh cuộn (thumb)
}
