*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.promotion{
    background: rgba(108, 106, 112, 1);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-nav{
    margin-left: 150px;

    ul{
        display: flex;
        flex-direction: row;
        
    }

    li{
        margin: 20px;
        font-size: 17px;
        list-style: none;
        cursor: pointer;
    }
}

.tool{
    display: flex;
    flex-direction: row;
    align-items: center;

    .search{
        background: rgba(255, 255, 255, 0.5);
        border-radius: 30px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 10px;

        input{
            width: 150px;
            background: transparent;
            padding: 15px 10px;
            font-size: 16px;
            outline: none;
            border: none;
        }
    }

    .tool-item{
        margin: 0 10px;
        cursor: pointer;
    }
}

