.user-most-popular{
    background: #242425;
    padding-top: 50px;
    .fit-content{
        height: fit-content;
        width: fit-content;
    }

    .title{
        text-align: center;
    }

    .product-popular{
        background: #242425;
        position: relative;
        margin: 0 auto;
        width: 90vw;
        height: 40vw;

        .center-product{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }

        .sub-left{
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-right{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

@media (max-width: 768px){
    .user-most-popular{
        padding-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .user-most-popular{
        // height: 90vw;
        // max-height: 70vh;
    }
}